html {
  --Poppins-Bold: "Poppins-Bold";
  --Poppins-Medium: "Poppins-Medium";
  --Poppins-Light: "Poppins-Light";
  --Poppins-Regular: "Poppins-Regular";
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("Poppins-Bold.woff2") format("woff2"),
    url("Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("Poppins-Medium.woff2") format("woff2"),
    url("Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("Poppins-Light.woff2") format("woff2"),
    url("Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
