html {
  --white: #ffffff;
  --black: #000000;
  --light-gray: #e1e5e8;
  --social-link-color: #002737;
  --dark-gray: #515151;
  ---dark-gray-2: #333333;
  --text-color-gray: #5e6c86;
  --text-color-pink: #f1ceb8;
  --text-color-blue: #64b5d7;
  --text-color-red: #fb533b;
  --color-orange: #C43201;
  --color-light-orange: rgba(233, 97, 56, 0.271);
  --color-dark-orange: #3C1B10;
  --color-green: #ABA729;
  --color-dark-green: #8EC022;
  --color-black-2: #2F2F2F;
  --color-yellow: #F7C531;
  // --text-color-blue-light: rgba(#64b5d7, 0.2);
}
