@import "../../assets/css/mixins";

.all-restaurants{
    &-intro{
    background-color: #FFF9F3;
    padding-block: 30px;
    .box-1{
        h1{
            font-size: 120px;
            line-height: 1.1;
            font-family: var(--Poppins-Regular);
            font-weight: bold;
            color: var(--color-dark-green);
        }
    }
    .box-2 {
        margin-left: 28px;
        position: relative;
        img{
            position: absolute;
            right: 0;
            bottom: 42px;
         
        }
        h3 {
            font-size: 48px;
            line-height: 1;
            font-family: var(--Poppins-Regular);
            font-weight: bold;
            color: var(--color-black-2);
        }
    }

        img{
            max-width: 100%;
        }
    }
}